{
  "env": {
    "production": {
      "presets": ["babili"]
    }
  },
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 5 Chrome versions"]
      }
    }]
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma":"h" }]
  ]
}
