{
  "extends": ["eslint:recommended", "preact"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "webextensions": true
  },
  "settings": {
    "jest": {
      "version": 27
    }
  }
}
